.wrapper {
    position: relative;
}

.image_container {
    position: relative;
    width: 100vw;
    height: 350px;
    max-height: 350px;
}

.image {
    object-fit: cover;
}

.text_container {
    position: absolute;
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0;
    margin-right: auto; 
    margin-left: auto; 
    margin: auto;
    height: 80%;
    z-index: 1;
    display: flex;
    max-width: 80%;
    flex-direction: column;
    justify-content: flex-end;
    gap: .5rem;
}

.title {
    padding: .5rem;
    font-weight: bold;
    background-color: white;
    width: fit-content;
}

.subtitle {
    padding: .5rem;
    background-color: white;
    width: fit-content;
}