.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 2rem;
  background-color: #171E36;
  color: white;
  padding: .8rem;
}

.links {
    display: flex;
    gap: 1rem;
}

.contact {
    display: flex;
    gap: 1rem;
}
.contact button {
  font-size: large;
  border-radius: 1000px;
  border: none;
  cursor: pointer;
  background-color: #5B2CE5;
  padding: 5px 20px;
  color: inherit;
}